body {
  font-family: sans-serif;
}

td {
  border: 1px solid #5d5d5d;
  border-radius: 15px;
}

#transport, #sounds, #levels {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interface-element {
  text-align: center!important;
  padding: .25em;
}
#sequencing-grids {
  display: none;
}
