body {
  font-family: sans-serif;
  background-color: #000;
}

td {
  border-radius: 5px;
}

#sequencer {
  border-spacing: 1px;
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 5px;
}

.interface-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.interface-element {
  text-align: center!important;
  padding: .25em;
}
#sequencing-grids {
  display: none;
}
