<!DOCTYPE HTML>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="sequencing-grids"></div>
<table id="sequencer"></table>
<div id="timing-grid"></div>
<div id="transport">
  <div class="interface-element">
    <div id="toggle-playback"></div>
  </div>
  <div class="interface-element">
    <div id="set-bpm"></div>
  </div>
  <div class="interface-element">
    <div id="current-bpm"></div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='NexusUI.js') }}"></script>
<script type="text/javascript">
var socket = io.connect('http://' + '{{ ip }}' + ':' + location.port);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='interface.js') }}"></script>

</body>
</html>
