<!DOCTYPE HTML>
<html>
<head>
  <title>Sonic Pixels</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5d5d5d">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?3">
</head>
<body>
<div id="sequencing-grids"></div>
<table id="sequencer"></table>
<div id="timing-grid"></div>
<div id="transport" class="interface-row">
  <div class="interface-element">
    <div id="toggle-playback"></div>
  </div>
  <div class="interface-element">
    <div id="set-bpm"></div>
  </div>
  <div class="interface-element">
    <div id="current-bpm"></div>
  </div>
</div>
<div id="sounds" class="interface-row">
  <div class="interface-element">
    <div id="sound-bank"></div>
  </div>
</div>
<div id="volume" class="interface-row">
  <div class="interface-element">
    <div id="volume-slider"></div>
  </div>
  <div class="interface-element">
    <div id="current-volume"></div>
  </div>
</div>
<div id="colours" class="interface-row">
</div>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='NexusUI.js') }}"></script>
<script type="text/javascript">
var socket = io.connect('http://' + '{{ ip }}' + ':' + location.port);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='interface.js') }}?12"></script>

</body>
</html>
